@import 'variables';

#original-game{
    position: relative;
    margin: 0 auto;
    margin-top: 20vh;
    background-image: url('../images/bg-triangle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
}

#extended-game{
    position: relative;
    margin: 0 auto;
    margin-top: 12vh;
    background-image: url('../images/bg-pentagon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
}

.paper-btn,
.paper-btn-extended{
    position: absolute;
    top: -70px;
    left: -60px;
    border: 20px solid $paper-border;
    box-shadow: 0px 7px 2px #ccc inset, 
                0px 7px 0px $paper-shadow;
}

.paper-btn-extended{
    top: 60px;
    left: 330px;
}

.rock-btn,
.rock-btn-extended{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 20px solid $rock-border;
    box-shadow: 0px 7px 2px #ccc inset, 
                0px 7px 0px $rock-shadow;
}

.rock-btn-extended{
    bottom: -60px;
    left: 245px;
    margin: 0px;
}

.scissors-btn,
.scissors-btn-extended{
    position: absolute;
    top: -70px;
    right: -60px;
    border: 20px solid $scissors-border;
    box-shadow: 0px 7px 2px #ccc inset, 
                0px 7px 0px $scissors-shadow;
}

.scissors-btn-extended{
    top: -80px;
    right: 0px;
    left: 0px;
    margin: auto;
}

.lizard-btn-extended{
    position: absolute;
    bottom: -60px;
    left: -5px;
    border: 20px solid $lizard-border;
    box-shadow: 0px 7px 2px #ccc inset, 
                0px 7px 0px $lizard-shadow;
}

.spock-btn-extended{
    position: absolute;
    top: 60px;
    left: -80px;
    border: 20px solid $spock-border;
    box-shadow: 0px 7px 2px #ccc inset, 
                0px 7px 0px $spock-shadow;
}
