/*
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

*/
@font-face {
  font-family: "BarlowSemi";
  src: url("../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf");
}
@font-face {
  font-family: "BarlowBold";
  src: url("../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf");
}
* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100vh;
}

body {
  background: radial-gradient(circle at center 0px, #1f3756, #141539);
  background-attachment: fixed;
  overflow: hidden;
}

.btn {
  cursor: pointer;
  display: block;
  background-color: white;
  background-clip: padding-box;
  border-radius: 9999px;
  width: 120px;
  height: 120px;
}
.btn img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/*
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

*/
#header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 5vh;
  width: 45vw;
  text-transform: uppercase;
  padding: 15px;
  border: 3px solid #606e85;
  border-radius: 15px;
  line-height: 30px;
}
#header .logo {
  height: 100px;
  display: block;
  position: relative;
}
#header .logo img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
}
#header #score-box {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: #2a46c0;
  width: 120px;
  height: 100px;
  font-size: 13px;
  font-family: BarlowSemi;
  letter-spacing: 2px;
  border-radius: 15px;
}
#header #score-box #score {
  height: 50px;
  font-size: 50px;
  font-family: BarlowBold;
  color: #3b4363;
}

/*
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

*/
#original-game {
  position: relative;
  margin: 0 auto;
  margin-top: 20vh;
  background-image: url("../images/bg-triangle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

#extended-game {
  position: relative;
  margin: 0 auto;
  margin-top: 12vh;
  background-image: url("../images/bg-pentagon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
}

.paper-btn,
.paper-btn-extended {
  position: absolute;
  top: -70px;
  left: -60px;
  border: 20px solid #5671f5;
  box-shadow: 0px 7px 2px #ccc inset, 0px 7px 0px #2945c3;
}

.paper-btn-extended {
  top: 60px !important;
  left: 330px !important;
}

.rock-btn,
.rock-btn-extended {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 20px solid #dd405d;
  box-shadow: 0px 7px 2px #ccc inset, 0px 7px 0px #9f1536;
}

.rock-btn-extended {
  bottom: -60px !important;
  left: 245px !important;
  margin: 0px;
}

.scissors-btn,
.scissors-btn-extended {
  position: absolute;
  top: -70px;
  right: -60px;
  border: 20px solid #eca922;
  box-shadow: 0px 7px 2px #ccc inset, 0px 7px 0px #cc6c16;
}

.scissors-btn-extended {
  top: -80px !important;
  right: 110px !important;
}

.lizard-btn-extended {
  position: absolute;
  bottom: -60px;
  left: -5px;
  border: 20px solid #834fe3;
  box-shadow: 0px 7px 2px #ccc inset, 0px 7px 0px #603ba5;
}

.spock-btn-extended {
  position: absolute;
  top: 60px;
  left: -80px;
  border: 20px solid #40b9ce;
  box-shadow: 0px 7px 2px #ccc inset, 0px 7px 0px #2c8dad;
}

/*
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer .menu-btn {
  cursor: pointer;
  text-transform: uppercase;
  font-family: BarlowSemi;
  font-size: 16px;
  letter-spacing: 2px;
  color: white;
  background-color: transparent;
  border: 2px solid #606e85;
  border-radius: 10px;
  padding: 5px 20px;
  transition: all 300ms ease-in-out;
}
footer .menu-btn:hover {
  color: #3b4363;
  background-color: white;
  border: 2px solid white;
}
footer #rules-btn {
  display: block;
  position: absolute;
  right: 10vw;
  bottom: 3vh;
}
footer #game-mode-btn {
  display: block;
  position: absolute;
  bottom: 3vh;
  left: 10vw;
}

/*
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

*/
#rules {
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  width: 25vw;
  padding: 3vw;
  border-radius: 10px;
}
#rules .close-btn {
  cursor: pointer;
}
#rules #rules-img {
  display: block;
  margin: 0 auto;
}
#rules #title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-family: BarlowSemi;
  font-size: 25px;
  margin-bottom: 50px;
}
#rules #title img {
  width: 25px;
  height: 25px;
}

/*
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

*/
#round {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: white;
  font-family: BarlowSemi;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 50px;
  position: relative;
}
#round #your-pick,
#round #house-pick {
  width: 25%;
  height: 40vh;
  position: relative;
}
#round #your-pick h4,
#round #house-pick h4 {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}
#round #your-pick .your-picks,
#round #your-pick .house-picks,
#round #house-pick .your-picks,
#round #house-pick .house-picks {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 300px;
}
#round #your-pick .your-picks .pre-shadow,
#round #your-pick .house-picks .pre-shadow,
#round #house-pick .your-picks .pre-shadow,
#round #house-pick .house-picks .pre-shadow {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 9999px;
}
#round #your-pick .your-picks .win-shadow,
#round #your-pick .your-picks .lose-shadow,
#round #your-pick .house-picks .win-shadow,
#round #your-pick .house-picks .lose-shadow,
#round #house-pick .your-picks .win-shadow,
#round #house-pick .your-picks .lose-shadow,
#round #house-pick .house-picks .win-shadow,
#round #house-pick .house-picks .lose-shadow {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  width: 215px !important;
  height: 215px !important;
  z-index: -1;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.025);
  opacity: 0;
}
#round #your-pick .your-picks .win-shadow .circle-1,
#round #your-pick .your-picks .lose-shadow .circle-1,
#round #your-pick .house-picks .win-shadow .circle-1,
#round #your-pick .house-picks .lose-shadow .circle-1,
#round #house-pick .your-picks .win-shadow .circle-1,
#round #house-pick .your-picks .lose-shadow .circle-1,
#round #house-pick .house-picks .win-shadow .circle-1,
#round #house-pick .house-picks .lose-shadow .circle-1 {
  display: flex;
  align-items: center;
  width: 165px;
  height: 165px;
  margin: 0 auto;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.05);
}
#round #your-pick .your-picks .win-shadow .circle-2,
#round #your-pick .your-picks .lose-shadow .circle-2,
#round #your-pick .house-picks .win-shadow .circle-2,
#round #your-pick .house-picks .lose-shadow .circle-2,
#round #house-pick .your-picks .win-shadow .circle-2,
#round #house-pick .your-picks .lose-shadow .circle-2,
#round #house-pick .house-picks .win-shadow .circle-2,
#round #house-pick .house-picks .lose-shadow .circle-2 {
  display: flex;
  align-items: center;
  width: 115px;
  height: 115px;
  margin: 0 auto;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.075);
}
#round .your-btn-picked,
#round .house-btn-picked {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 160px !important;
  height: 160px !important;
}
#round .your-btn-picked img,
#round .house-btn-picked img {
  width: 70px;
}
#round .paper-btn {
  border: 25px solid #5671f5;
}
#round .rock-btn {
  border: 25px solid #dd405d;
}
#round .scissors-btn {
  border: 25px solid #eca922;
}
#round .lizard-btn-extended {
  border: 25px solid #834fe3;
}
#round .spock-btn-extended {
  border: 25px solid #40b9ce;
}
#round #result {
  display: block;
  position: absolute;
  z-index: 1;
  height: 150px;
  top: 0;
  bottom: 0;
  margin: auto;
}
#round #result h1 {
  font-size: 50px;
}
#round #result .again-btn {
  cursor: pointer;
  text-transform: uppercase;
  font-family: BarlowSemi;
  font-size: 15px;
  letter-spacing: 3px;
  color: #3b4363;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 50px;
  margin-top: 20px;
  transition: all 300ms;
}
#round #result .again-btn:hover {
  color: #dd405d;
}

/*# sourceMappingURL=styles.css.map */
